.center {
  width: 100%;
  text-align: center;
}

.row {
  width: 100%;
}

.artist-photo {
  width: 50%;
  margin-left: 25%;
}

.social-icon {
  width: 90%;
}

.social-icon-row {
  height: 50px;
}

.name-row {
  height: 50px;
}
