.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.artist-info-height {
  height: auto;
  min-height: 400px;
}

.butt {
  position: fixed; /* Фиксированное положение */
    right: 65px; /* Расстояние от правого края окна браузера */
    top: 20%;
	width:20px;
  float:right;
}

.shadow{
  box-shadow:5 5 100px rgba(0,0,0,0.2);
  text-shadow:5 5 10px rgba(0,0,0,0.2);
}
