<ion-header>
  <ion-toolbar style="--background: #313437; --color: #f7f7f7;">
    <ion-title>
      МТС Концерт
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #383b3f; --color: #f7f7f7;">

  <!--<ion-fab class="butt">
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <a href="#times">
            <ion-icon style="font-size: 26px;" name="time"></ion-icon>
          </a>
        </ion-row>
        <ion-row>
          <ion-button href="#news">
            <ion-icon style="font-size: 26px;" name="list"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button (click)="scroller.scrollToAnchor('Info')">
            <ion-icon style="font-size: 26px;" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-fab>-->

  <div id="time" *ngIf="currentSongId == -1" >
    <ion-card style="height:250px; --background: #42464C;" id="time">
      <ion-card-header>
        <ion-card-subtitle style="--color: #f7f7f7; font-size:16px;">
          <ion-grid>
            <ion-row>
              <ion-icon style="font-size: 20px;" name="time"></ion-icon>
              <ion-label style="position: fixed; margin-left: 26px;">До начала концерта</ion-label>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="z-index: 5;" *ngIf="displayTime != undefined && displayTime != '00:00:00'">
        <ion-fab vertical="center" horizontal="center">
          <ion-fab-button style="--background:#ffce00;--color: #000000; height:130px; width:130px;margin-left:-38px; margin-top:20px; ">
            <p style="font-size: 25px;">{{displayTime}}</p>
          </ion-fab-button>
        </ion-fab>
      </ion-card-content>

      <ion-card-content *ngIf="displayTime != undefined && displayTime == '00:00:00'">
        <ion-fab vertical="center" horizontal="center">
          <ion-fab-button color="warning" style="height:130px; width:130px; margin-left:-38px; margin-top:20px;">
            <p style="font-size: 20px;">Концерт начался!</p>
          </ion-fab-button>
        </ion-fab>
      </ion-card-content>

    </ion-card>
  </div>

  <div id="time">
    <ion-card style="height:200px;" *ngIf="currentSongId != -1">
      <ion-card-header>
        <ion-card-subtitle style="--color: #f7f7f7; font-size:16px;">
          <ion-icon name="time"></ion-icon>
          Текущая песня
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-fab vertical="center">
          <ion-fab-button color="warning" style="height:130px; width:130px; margin-left:-38px; margin-top:20px;">
            <p>{{songList[currentSongId].name}}</p>
          </ion-fab-button>
        </ion-fab>
      </ion-card-content>

    </ion-card>


    <ion-card style="height:auto; --background: #42464C;" id="news">

      <ion-card-header>
        <ion-card-subtitle style="--color: #f7f7f7;font-size:16px;">
          <ion-grid>
            <ion-row>
              <ion-icon style="font-size: 20px;" name="list"></ion-icon>
              <ion-label style="position: fixed; margin-left: 26px;">Новости концерта</ion-label>
            </ion-row>
          </ion-grid>

        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-chip *ngFor="let notification of notificationList" style="--color: #000000; --background: #ffce00;">
          	<ion-label > 
				<em style="font-size: 7pt;">{{notification.time}}</em>
				<p style="font-size: 14pt; color: #f7f7f7;">{{notification.text}}</p>
			</ion-label>
        </ion-chip>
      </ion-card-content>

    </ion-card>



    <ion-card style="height:auto; --background: #42464C;" id="Info" name="info" class="artist-info-height">

      <ion-card-header>
        <ion-card-subtitle style="--color: #f7f7f7;font-size:16px;">
          <ion-grid>
            <ion-row>
              <ion-icon style="font-size: 20px;" name="information-circle-outline"></ion-icon>
              <ion-label style="position: fixed; margin-left: 26px;">Об исполнителе</ion-label>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="artist-info-height">
        <app-artist-info class="artist-info-height" [artistInfo]="artistInfo">
		
		</app-artist-info>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
