<ion-header>
  <ion-toolbar style="--background: #313437; --color: #f7f7f7;">
    <ion-title>
      МТС Концерт
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #383b3f; --color: #f7f7f7;">
<!--  <app-song-text-slider>

  </app-song-text-slider>
-->  

  <div id="login" style="--border-color:#313437; --border-style:inset;" *ngIf="approved == false || signInData.userName == ''">
    <ion-card style="height:35%;width:68%; --background: #42464C;position:fixed; left: 16%;top:42%; z-index:10; border-color:#383b3f; border-style:groove;">
      <ion-card-header>
        <ion-card-subtitle style="--color: #f7f7f7; font-size:16px;">
          <ion-icon style="font-size: 26px;" name="happy"></ion-icon>
          Как Вас зовут?
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="signIn()">
          <ion-item style="width:80%">
            <ion-input readonly="false" required [(ngModel)]="signInData.userName" name="name" type="text" placeholder="Имя" text-center></ion-input>
          </ion-item>
          <br>
          <button ion-button round icon-end type="submit" >
            <ion-icon name="checkmark-circle-outline"style = "background: ##ffce00;"></ion-icon>
          </button>
        </form>
      </ion-card-content>

    </ion-card>
  </div>

  <ion-card style="height:auto; min-height:100%; --background: #42464C;"id="news">
  
  <ion-card-header >
        <ion-card-subtitle style="--color: #f7f7f7;">
          <ion-grid>
            <ion-col>
              <ion-icon style="font-size: 26px;" name="list"></ion-icon>
               </ion-col>
          <ion-col>
            Общаемся!
          </ion-col>
          </ion-grid>

        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
	  
	  <div *ngFor="let message of messages" style="display: flex">
	  <div *ngIf="message.userId == msg.userId" style="margin-left: auto;">
      <ion-chip style="--color: #000000; --background: #ffce00; right: 10px;">
		<ion-label > {{message.text}} <br> {{message.userName}}</ion-label>
      </ion-chip>
	  </div>
	  <div *ngIf="message.userId != msg.userId" style="float: left;">
      <ion-chip style="--color: #000000; --background: #ffce00; right: 10px;">
		<ion-label > {{message.text}} <br> {{message.userName}}</ion-label>
      </ion-chip>
	  </div>
	  </div>
      </ion-card-content>

    </ion-card>
	
  
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: #313437; --color: #f7f7f7">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input *ngIf="approved == false || signInData.userName == ''" readonly="true" type="text" placeholder="Type a message" [(ngModel)]="msg.text" name="message"></ion-input>
		<ion-input *ngIf="approved == true && signInData.userName != ''" readonly="false" type="text" placeholder="Type a message" [(ngModel)]="msg.text" name="message"></ion-input>
      </ion-col>
      <ion-col size="1" (click)="sendMessage()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>

</ion-footer>